.App {
  text-align: center;
  margin: 1%;
}

marquee {
  font-style: italic bold;
  font-size: 40px;
}

#bg{
  background: url('./images/p2.jpg')  center/cover;
  z-index: -1;
  height: 80%;
  min-width: 100%;
  position: absolute;
   
}

.Notifi {
  background-color: rgba(0,0,0,0.5);
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
  border-radius: 25px;
  margin-left: 20%;
  color: white;
  width: 60%;
}

.form-control {
  align-items: center;
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
}

.pay{
  margin-top: 20px;
}

.Statue {
  height: 30%;
      width: 100%; 
}

address {
  background: darkgray;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 100 !important;
}

.nav-a{
  text-decoration: none;
  color:white;
}

.nav-item{
  background-color: green;
  box-shadow:10px 10px 10px rgba(0,0,0,0.2);
  margin-top: 0% !important;
  padding-top: 1%;
  padding-bottom: 1%;
}

.mar{
  color: green;
}

.noti{
  text-decoration: none;
  color:white;
}
